body{
 margin:0;
 font-family:'Segoe UI';
 height:100vh;
 background:linear-gradient(135deg,#090979,#00d4ff);
 display:flex;
 justify-content:center;
 align-items:center;
 color:white;
}

.dashboard{
 width:420px;
 padding:25px;
 background:rgba(255,255,255,0.12);
 border-radius:28px;
 box-shadow:
 0 8px 32px rgba(0,0,0,0.5),
 inset 0 0 20px rgba(255,255,255,0.15);
 backdrop-filter:blur(20px);
 animation:fadeIn 1s ease;
}

@keyframes fadeIn{
 from{transform:translateY(40px);opacity:0;}
 to{transform:translateY(0);opacity:1;}
}

h1{
 text-align:center;
 font-size:32px;
 font-weight:900;
 letter-spacing:2px;
 margin-bottom:20px;
}

h1 span{
 color:#00f2fe;
}

.glass-panel{
 background:rgba(255,255,255,0.2);
 padding:18px;
 border-radius:20px;
 box-shadow:inset 5px 5px 10px rgba(0,0,0,0.3),
 inset -5px -5px 10px rgba(255,255,255,0.2);
}

input,select{
 width:100%;
 padding:10px;
 margin:6px 0;
 border:none;
 border-radius:14px;
 background:rgba(255,255,255,0.85);
}

button{
 width:100%;
 padding:10px;
 border:none;
 border-radius:18px;
 background:linear-gradient(45deg,#ff512f,#dd2476);
 color:white;
 font-weight:bold;
 cursor:pointer;
 transition:0.4s;
}

button:hover{
 transform:translateY(-3px) scale(1.03);
 box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.filters{
 display:flex;
 justify-content:space-between;
 margin:12px 0;
}

.filters button{
 width:100%;
 background:linear-gradient(45deg,#43cea2,#185a9d);
}

li{
 list-style:none;
 margin:10px 0;
 padding:12px;
 border-radius:18px;
 background:rgba(255,255,255,0.2);
 box-shadow:inset 3px 3px 6px rgba(0,0,0,0.4),
 inset -3px -3px 6px rgba(255,255,255,0.3);
 animation:taskSlide 0.4s ease;
 display:flex;
 justify-content:space-between;
 align-items:center;
}

@keyframes taskSlide{
 from{opacity:0;transform:translateX(-25px);}
 to{opacity:1;transform:translateX(0);}
}

.completed{
 text-decoration:line-through;
 opacity:0.6;
}
